<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
        <h1>Eric Hu</h1>
        <p>A little about me...</p>
</div>

<div class="row">

  <div class = col>
  <img src="/images/ProfilePicture.jpg" width ="400" alt="Profile Picture">
  </div>

  <div class= "col bg-secondary text-light">
    <h2>Hi...</h2>
    <br>
    <p>I'm currently a student at Brandeis Universiy</p>
    <p>Right now, I am a rising junior pursing a degree in Computer Science</p>
    <p>I ran both cross country and track and field in high school</p>
    <p>Fun Fact!: I am ambidextrious at scooping ice cream</p>
  </div>
</div>

<div class="row">
  <p>You can connect with me at: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">erichu@brandeis.edu</a></p>
</div>

<hr>

<div class="jumbotron">
  <h1>Ben Blinder</h1>
  <p>About me:</p>
</div>

<div class="row">
  <div class="col">
    <img src="/images/BlinderProfile.png" width="400">
    <br>
    Email Address: <a href="https://www.linkedin.com/in/ben-blinder-32595620b/">BenjaminBlinder@brandeis.edu</a>
  </div>
  <div class="col bg-secondary text-light">
    <div class="jumbotron">
      <h1>About Me</h1>
    </div>
    <ul>
      <li>I am a student at Brandeis University</li>
      <p></p>
      <li>I am from St. Louis Missouri</li>
      <p></p>
      <li>I enjoy swimming and coding </li>
      <p></p>
      <li>I have climbed exactly five trees in my life</li>

    </ul>

  </div>
</div>


<%- include('bootfooter') -%>
