<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>
      PRA Question L04-1: Form demo
    </h1>


    <form method="post" action="/showNameAge" class="bg-info">
        Enter your name:<input type="text" name="fullname"><br>
        Enter your age:<input type="number" name="age"><br>
        <input type="submit" value="Register now">
    </form>

<%- include('bootfooter') -%>
