<%- include('bootheader') -%>
<div class="jumbotron">
        <h1>Quiz 1<h1/>
        <p> Write the HTML for this page including all of this text! </p>
</div>
<div class="container">
     <div class="row">
             <div class="col">
                <p> This is a div with one row and 2 columns</p>
                <br>
                <p> Column 1 has a link to </p> <a href="https://www.brandeis.edu" >
                 Brandeis</a>
               </div>
                <div class="col">
                    <p> Column 2 has a picture of a cat with width 200</p>
                    <br>
                    <img width="200"  src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png">
               </div>
         </div>


  <table class="table table-bordered table-striped">
    <thead>
          <tr><th> A </th> <th> B <th/> <tr/>
    </thead>
     <tbody>
           <tr><td> red </td> <td> blue </td> </tr>
            <tr><td> green</td> <td> yellow </td> </tr>
      </tbody>
 </table>

      <%- include('bootfooter') -%>
