<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Team 3 Group Project</h1>
        <p> 
        This is Team 3's Group Project <br> 
        Here, you will be able to access all of our individual projects
        </p>
    </div>
    <img width="200" src="/images/dog.jpg">


<%- include('bootfooter') -%>
