<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Specification Grading App</h1>
        <p> Grading for Equity! </p>
    </div>
    <img width="200" src="/images/dog.jpg">


<%- include('bootfooter') -%>
