<%- include('bootheader') -%>

<div class="jumbotron">
    <h1>Quiz 1</h1>
    <p> Write the HTML for this page
        including all of this text!
    </p>
</div>


<div class="row">
  <div class="col">
    This is a div with one row and 2 columns.
    <br>
    Column 1 has a link to
    <a href="http://www.brandeis.edu">Brandeis</a>
  </div>
  <div class="col">
    Column 2 has a picture of a cat with width 200
    <img src="images/cat.jpg"
     width="200">
  </div>
</div>

<br>
This table has a header row and two other rows, each with two columns:
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>red</td>
      <td>blue</td>
    </tr>
    <tr>
      <td>green</td>
      <td>yellow</td>
    </tr>
  </tbody>
</table>






<%- include('bootfooter') -%>
